section.section.projects#particles-js
        .projects__container
            .projects__header.section__title Поделки
            .projects__content
                .projects__row
                    .projects__column
                        .project.project-width-2
                            img(src='img/welcome/macbookFullHD.jpg' class='project__img')
                    .project__column
                        .project.project-width-1
                        .project.project-width-1
                .projects__row
                    .projects__column
                        .project.project-width-1
                        .project.project-width-1
                    .project__column
                        .project.project-width-2
            .projects__footer
