section.section.welcome
    .welcome__container
        .main-text
            h1.main-text__name #{title}
            h2.main-text__whoami #{whoami}
        ul.social__list
            +socialItem('https://vk.com/id_r0mashka','vk')
            +socialItem('https://github.com/RomaTur','git1')
            +socialItem('https://twitter.com/RoMan_111','tw')
