// out: ../main.css, compress: true
//main color
@mainColor: rgb(182, 104, 219);
@sectionOneColor: white;
@sectionTwoColor: rgb(78, 69, 79);

body {
  background: white;
}

* {
  transition: 0.2s;
}
///////////ШАПКА///////////

.headBg {
  height: 100vh;
  background-position: center;
  background-image: url("../img/header/1.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-color: #45869c;
  background-repeat: no-repeat;
  ////////ВНУТРЕННЯЯ ЧАСТЬ ШАПКИ///////////
  .head {
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(63, 46, 85, 0.79);
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    /////////ТЕКСТ ПРИВЕТСТВИЯ///////////
    .headText {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: white;
      font-weight: 100;
      margin-bottom: 15%;
      width: 80%;

      h1 {
        margin: 0;
        font-weight: 100;
      }

      span {
        font-size: 2.5em;
        font-weight: 200;
      }
    }
    //////////ИКОНКИ СОЦ СЕТЕЙ///////////
    ul {
      margin: 0;
      position: absolute;
      bottom: 25%;
      padding: 0;
      width: 100%;

      li {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        width: 100px;
        height: 100px;
        margin: 15px;

        a {}

        a {
          width: 90px;
          height: 90px;
          border: 3px solid rgba(182, 104, 219, 0);
          border-radius: 45px;
          position: absolute;
          margin-left: -47px;

          &:hover {
            border-radius: 50px;
            border: 3px solid @mainColor;
            width: 96px;
            height: 96px;
            margin-left: -51px;
            margin-top: -4px;

            i {
              color: @mainColor;
              margin-left: 2px;
            }
          }

          i {
            font-size: 50px;
            color: white;
            text-align: center;
            margin: 20px 0;
            position: relative;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////
///////////////////////////////////КОНТЕНТ/////////////////////
///////////////////////////////////////////////////////////////
////////ОБО МНЕ////////

.aboutMe {
  padding: 100px 5% 100px 10%;
  position: relative;
  display: inline-block;
  background-color: @sectionOneColor;
  background-image: url("../img/content/about/quote.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /////////НАЗВАНИЕ РАЗДЕЛА И ФОТО/////////
  .aboutMeTitle {
    font-size: 48px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    text-align: right;
    float: left;
    padding-right: 25px;
    width: 33%;
    line-height: 48px;

    span {
      float: right;
      color: @mainColor;
    }

    img {
      width: 200px;
      margin-top: 50px;
      border-radius: 100px;
      float: right;
      margin-right: 5px;
      border: 2px solid @mainColor;
    }
  }
  //////////ОСНОВНОЙ ТЕКСТ////////
  .aboutMeText {
    width: 45%;
    float: left;
    border-left: 7px solid @mainColor;

    p {
      font-family: 'Exo 2', sans-serif;
      font-size: 20px;
      font-weight: 200;
      padding-left: 30px;
      margin: 0;
      float: left;
    }
    ////////////ЛИНИИ ПРОГРЕССА/////////
    #line1 {
      margin-top: 50px;
      margin-bottom: 20px;
      margin-right: 30%;
      width: 50%;
      line-height: 35px;
      background-color: @mainColor;
      color: @sectionOneColor;
      padding-left: 10px;
    }

    #line2 {
      margin-top: 20px;
      margin-right: 30%;
      margin-bottom: 20px;
      width: 70%;
      line-height: 35px;
      background-color: @mainColor;
      color: @sectionOneColor;
      padding-left: 10px;
    }

    #line3 {
      margin-top: 20px;
      margin-right: 30%;
      margin-bottom: 20px;
      width: 35%;
      line-height: 35px;
      background-color: @mainColor;
      color: @sectionOneColor;
      padding-left: 10px;
    }
  }
}
////////////РЕЗЮМЕ////////////

.resume {
  padding: 100px 5% 100px 10%;
  position: relative;
  display: inline-block;
  background-color: @sectionTwoColor;
  font-family: 'Exo 2', sans-serif;
  color: @sectionOneColor;
  background-image: url("../img/content/resume/work.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 85%;
  ////////////НАЗВАНИЕ РАЗДЕЛА////////
  .resumeTitle {
    font-size: 48px;
    width: 33%;
    font-weight: 300;
    float: left;
    text-align: right;
    padding-right: 25px;
    line-height: 60px;

    span {
      float: right;
      margin-top: -20px;
      padding-right: 10px;
    }
  }
  //////////ОСНОВНОЙ ТЕКСТ////////
  .resumeText {
    float: left;
    width: 45%;
    border-left: 7px solid @mainColor;
    padding-left: 30px;
    font-size: 20px;
  }

  .work {
    p {
      font-size: 20px;
      font-weight: 300;
      margin: 12px 0;
    }
  }

  .workText {
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 18px;
  }

  .lastWork {
    margin-bottom: 20px;
  }

  .workTitle {
    color: @mainColor;
    font-size: 25px;

    div {
      position: absolute;
      margin-left: -53.5px;
      margin-top: -5px;
      font-size: 23px;
      width: 40px;
      height: 40px;
      color: @sectionTwoColor;
      background-color: @mainColor;
      text-align: center;
      border-radius: 20px;

      p {
        color: @sectionOneColor;
        position: absolute;
        width: 100px;
        text-align: right;
        margin: -25px 0 0 -110px;
      }

      i {
        margin-top: 8px;
      }
    }
  }
}
///////////ПРОЕКТЫ////////////
.projects {
  padding: 100px 5% 100px 10%;
  position: relative;
  display: inline-block;
  background-color: @sectionOneColor;
  background-image: url("../img/content/projects/camera.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18%;
  width: 85%;
  color: @mainColor;

  .projectsTitle {
    float: left;
    width: 33%;
    padding-right: 25px;

    span {
      font-size: 48px;
      font-weight: 300;
      float: right;
      font-family: 'Exo 2', sans-serif;
      padding-right: 10px;
      margin-top: 5px;
    }
  }

  .projectsContent {
    float: left;
    width: 60%;
    border-left: 7px solid @mainColor;
    padding-left: 30px;
    @circleSize: 200px;
    @circleBorderRadius: @circleSize/2;

    .project {
      *{
transition: 0.4s;
}
      width: @circleSize;
      height: @circleSize;
      border-radius: @circleBorderRadius;
      // border: 10px solid fade(@mainColor, 50%);
      display: inline-block;
      margin: 5px;
      background-image: url("../img/content/projects/example.jpg");
overflow: hidden;
      p {
        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        font-family: 'Exo 2', sans-serif;
        font-size: 36px;
        color: @sectionOneColor;
        width: @circleSize;
        height: @circleSize;
        border-radius: @circleBorderRadius;
        background-color: lighten(fade(@mainColor, 70%), 20%);
        margin: 0;
        text-align: center;
        transform: scale(0);
        position: absolute;


      }

      span{
        position: absolute;
        width: @circleSize - 30;
        height: @circleSize - 30;
        border-radius: @circleBorderRadius;
        // display: block;
        // background-color: @mainColor;
        // transform: scale(1);
        border: 15px solid fade(@mainColor, 30%);
      }

      &:hover {

        p {
          transform: scale(1);
        }
        span{
          width: @circleSize;
          height: @circleSize;
          border: 0px solid fade(@mainColor, 50%);
        }
      }



    }
  }
}
// .map{
//
// }
// }
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
