// out: ../main.css, compress: true
//telegramForm
@import url(../telegramform/css/style.css);
@import url( 'https://fonts.googleapis.com/css?family=Exo+2:100,200,200i,300,400');
@font-face {
    font-family: ExoTwo;
    src: url("../fonts/Exo_2/Exo2-ExtraLight.ttf");
}
// Mode: Phone
@phone: ~"(max-width: 767px)";
@article__vertical-line--phone: 100%; // Mode: Tablet
@tablet: ~"(min-width: 768px) and (max-width: 998px)";
@article__vertical-line--tablet: 40%;
@laptop: ~"(min-width: 998px) and (max-width: 1199px)";
// Mode: Desktop
@desktop: ~"(min-width: 1200px)";
@article__vertical-line: 30%;
@color__one: white;
@color__two: #b668db;
@color__three: #4e454f;

body,
footer,
header,
html {
    background: lighten(@color__two, 10%);
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

<<<<<<< HEAD
=======
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

>>>>>>> parent of efa24d4... adding content to accordeon
article {
    width: 100%;
    // max-width: 1800px;
    // margin: 0 auto;
}

.section__wrapper {
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}

* {
    transition: 0.2s;
    font-family: 'Exo 2', ExoTwo;
    font-weight: 100;
    box-sizing: border-box;
}
///////////ШАПКА///////////

.header {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-image: url("../img/header/macbookFullHD.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: @color__one;
    cursor: default;
}

.header__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(60, 38, 75, 0.85);
    position: absolute;
    z-index: 1;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 100%;
}

.header__name {
    font-size: 6vw;
}

.header__desc {
    font-size: 2vw;
}

.header__social {
    list-style: none;
    margin-top: 40px;
}

.header__social-item {
    display: inline-block;
    width: 110px;
    height: 110px;
    vertical-align: middle;
    margin: 0 10px;
}

.social-item__link {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid @color__one;
    position: relative;
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;

    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: @color__one;
    }

    &:hover {
        height: 110px;
        width: 110px;
        margin: 0;
        line-height: 110px;
        border: 1px solid lighten(@color__two, 5%);

        > i {
            color: lighten(@color__two, 5%);
            font-size: 55px;
        }
    }
}

.header__version {
    font-size: 1vw;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
@media @tablet {
    .header__name {
        font-size: 10vw;
    }

    .header__desc {
        font-size: 3vw;
    }

    .header__social-item {
        width: 90px;
        height: 90px;
    }

    .social-item__link {
        height: 80px;
        width: 80px;

        > i {
            font-size: 40px;
        }

        &:hover {
            height: 90px;
            width: 90px;
            line-height: 90px;

            > i {
                font-size: 45px;
            }
        }
    }

    .header__version {
        font-size: 2vw;
    }
}
@media @phone {
    .header__content {
        top: 40%;
    }

    .header__name {
        font-size: 21vw;
    }

    .header__desc {
        font-size: 5vw;
    }

    .header__social {
        margin-top: 14vw;
    }

    .header__social-item {
        width: 80px;
        height: 80px;
        margin: 0 3px;
    }

    .social-item__link {
        height: 70px;
        width: 70px;

        > i {
            font-size: 40px;
        }

        &:hover {
            height: 80px;
            width: 80px;

            > i {
                font-size: 50px;
            }
        }
    }

    .header__version {
        font-size: 4vw;
    }
}
//////////////////////////////////////////////////////
///////////////////////КОНТЕНТ/////////////////////
/////////////////////////////////////////////////////

.section__left-side {
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    text-align: right;
    float: left;
    padding-right: 25px;
    width: @article__vertical-line;
    font-size: 48px;
    margin-top: -10px;
}

.section__right-side {
    width: 50%;
    float: left;
    border-left: 4px solid @color__two;
    padding-left: 30px;
}
@media @tablet {
    .section__left-side {
        width: @article__vertical-line--tablet;
    }
}
////////ОБО МНЕ////////

.about {
    padding: 100px 5%;
    background-color: @color__one;
    background-image: url("../img/content/about/quote.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
/////////НАЗВАНИЕ РАЗДЕЛА И ФОТО////////

.about__title {
    float: right;
    color: @color__two;
    width: 10ch;
}

.about__avatar {
    float: right;
    width: 100%;
    margin: 25px 0 50px;
}

.about__avatar-image {
    width: 200px;
    height: 200px;
    // margin-top: 50px;
    border-radius: 50%;
    float: right;
    // margin-right: 5px;
    // transform: scale(-1, 1);
    border: 2px solid @color__two;
}

.about__character {
    width: 100%;
    float: right;
    font-size: 18px;
    list-style: none;
}

.about__character-item {
    margin-bottom: 7px;

    .fa {
        width: 20px;
        text-align: center;
        margin-left: 5px;
    }
}

.about__desc {
    font-size: 18px;
    margin: 0 0 20px;
    width: 90%;
}

.about__desc-title {
    font-size: 16px;
    font-style: italic;
    width: 170px;
    padding: 5px 20px;
    background-color: @color__two;
    color: @color__one;
    font-style: italic;
    display: block;
    text-align: center;
    margin: 30px 0 20px 60px;
}

.about__quote {
    margin-bottom: 20px;
    font-size: 16px;
    color: @color__two;
    font-style: italic;
    width: 80%;
    margin-left: 20%;
    display: inline-block;
}

.about__quote-text {}

.about__quote-author {
    text-align: right;
    display: block;
}

.about__education {
    display: block;
}

.education-miet {
    width: 100%;
}

.education-miet__title {
    width: 110px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: @color__two;
    color: @color__one;
    font-style: italic;
    display: block;
    text-align: center;
    margin: 0 0 20px 30px;
}

.education-miet__desc {
    width: 49%;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
}

.education-miet__item {
    margin: 20px 0;
}

.education-miet__image {
    width: 49%;
    max-width: 400px;
    display: inline-block;
    vertical-align: middle;
}

.education-knowledge {
    width: 100%;
    margin-top: 30px;
}

.education-knowledge__image {
    margin-top: 20px;
    margin-bottom: 210px;
    max-width: 100px;
    max-width: 20%;
    display: inline-block;
    float: left;
}

.education-knowledge__desc {
    width: 70%;
    vertical-align: top;
    display: inline-block;
    float: right;
    text-align: right;
}

.education-knowledge__title {
    width: 190px;
    font-size: 18px;
    padding: 5px 20px;
    background-color: @color__two;
    color: @color__one;
    font-style: italic;
    display: block;
    float: right;
    text-align: center;
    margin: 0 50px 20px 50%;
}

.education-knowledge__accordeon {
    list-style: none;
    width: 100%;
    float: right;
    display: inline-block;
    margin-top: 10px;

    * {
        transition: 0s;
    }
    border-bottom: 1px solid @color__two;
<<<<<<< HEAD
=======
    // max-height: 350px;
>>>>>>> parent of efa24d4... adding content to accordeon
}

.accordeon__item {
    border-top: 1px solid @color__two;

    .fa-chevron-right {


        transition: 0.3s;
// display: inline-block;
        font-size: 14px;
    }

    &--active {
        .fa-chevron-right {
            transform: scale(-1,1);
        }
    }

    .fa {
        width: 30px;
        text-align: center;
    }

    .fa-microchip {
        position: absolute;
        top: 31%;
        left: 5%;
        font-size: 24px;
    }

    .fa-desktop {
        position: absolute;
        top: 31%;
        left: 5%;
        font-size: 24px;
    }

    .fa-camera {
        position: absolute;
        top: 31%;
        left: 5%;
        font-size: 24px;
    }
}

.accordeon-title__text {
    width: 70%;
}

.accordeon-title__fa-container {
    transform: rotate(90deg);
    position: absolute;
    top: 40%;
    right: 5%;
}

.accordeon__item-desc {
    display: none;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    // height: 200px;
}

.accordeon__item-title {
    cursor: pointer;
    padding: 20px 5px;
    margin: 0;
    color: @color__two;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    text-transform: uppercase;
    position: relative;

    > * {
        display: inline-block;
        // margin: 0 5px;
        // vertical-align: middle;
    }
}

<<<<<<< HEAD
.accordeon__scheme {
    list-style: none;
}

.accordeon__scheme-item {
    text-align: left;
    padding: 3px 15%;
}

.accordeon__web {
    list-style: none;
}

.accordeon__web-item {
    text-align: left;
    padding: 3px 15%;
}

.accordeon__media {
    list-style: none;
}

.accordeon__media-item {
    text-align: left;
    padding: 3px 15%;
}

=======
>>>>>>> parent of efa24d4... adding content to accordeon
.font-weight-2 {
    font-weight: 200;
}

.font-weight-3 {
    font-weight: 300;
}
// @media @phone {
//     .about {
//         padding: 40px 30px;
//     }
//
//     .section__left-side {
//         width: 100%;
//     }
//
//     .section__right-side {
//         width: 100%;
//         border: none;
//         padding: 0;
//     }
//
//     .about__avatar-image {
//         float: none;
//         display: inline-block;
//         text-align: center;
//     }
// }
////////////РЕЗЮМЕ////////////
//
// .resume {
//     padding: 100px 5%;
//     position: relative;
//     display: inline-block;
//     background-color: @color__three;
//     font-family: 'Exo 2', sans-serif;
//     color: @color__one;
//     background-image: url("../img/content/resume/work.png");
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-position: center;
//     width: 100%;
// }
// ////////////НАЗВАНИЕ РАЗДЕЛА////////
//
// .resume__title {
//     float: right;
//     color: @color__two;
//     width: 10ch;
//     padding-right: 10px;
//     // font-size: 48px;
// }
// // .resumeTitle {
// //     font-size: 48px;
// //     width: @article__vertical-line;
// //     font-weight: 300;
// //     float: left;
// //     text-align: right;
// //     padding-right: 25px;
// //
// //     span {
// //         float: right;
// //         margin-top: -10px;
// //         padding-right: 10px;
// //     }
// // }
// //////////ОСНОВНОЙ ТЕКСТ////////
//
// .resumeText {
//     float: left;
//     width: 45%;
//     border-left: 4px solid @color__two;
//     padding-left: 30px;
//     font-size: 20px;
//     padding-top: 0;
// }
//
// .work {
//     p {
//         font-size: 20px;
//         font-weight: 300;
//         margin: 12px 0;
//     }
// }
//
// .workText {
//     margin-bottom: 50px;
//     font-weight: 200;
//     font-size: 16px;
//
//     &:last-of-type {
//         margin-bottom: 20px;
//     }
// }
//
// .workTitle {
//     color: @color__two;
//     font-size: 26px;
//
//     p {
//         font-size: 20px;
//     }
//
//     div {
//         position: absolute;
//         margin-left: -52px;
//         margin-top: -3px;
//         font-size: 23px;
//         width: 40px;
//         height: 40px;
//         color: @color__three;
//         background-color: @color__two;
//         text-align: center;
//         border-radius: 20px;
//
//         p {
//             color: @color__one;
//             position: absolute;
//             width: 100px;
//             text-align: right;
//             margin: -25px 0 0 -110px;
//         }
//
//         i {
//             margin-top: 8px;
//         }
//     }
// }
///////////ПРОЕКТЫ////////////

.projects {
    padding: 100px 5%;
    position: relative;
    display: inline-block;
    // background-color: @color__three;
    background-image: url("../img/content/projects/camera.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
    width: 100%;
    color: @color__two;
    background: linear-gradient(228deg, #493b4b, #59505a, #564658, #352636);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    -o-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0 90%;
        }

        50% {
            background-position: 100% 11%;
        }

        100% {
            background-position: 0 90%;
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0 90%;
        }

        50% {
            background-position: 100% 11%;
        }

        100% {
            background-position: 0 90%;
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 0 90%;
        }

        50% {
            background-position: 100% 11%;
        }

        100% {
            background-position: 0 90%;
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0 90%;
        }

        50% {
            background-position: 100% 11%;
        }

        100% {
            background-position: 0 90%;
        }
    }
}

.section__projects {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.section__row {
    width: 100%;
}

.section__row-line {
    height: 70px;
    border-left: 4px solid @color__two;
    margin-left: @article__vertical-line;
    margin-right: @article__vertical-line;
}

.section__row-line_up {
    border-bottom: 4px solid @color__two;
    margin-bottom: 50px;
    text-align: center;
}

.section__row-line_down {
    border-top: 4px solid @color__two;
    margin-top: 50px;
}

.projects__title {
    width: 10ch;
    font-size: 48px;
}
// .project {
// @circleSize: 200px;
// @circleBorderRadius: @circleSize;
//     * {
//         transition: 0.4s;
//     }
//     width: @circleSize;
//     height: @circleSize;
//     border-radius: @circleBorderRadius;
//     // border: 10px solid fade(@color__two, 50%);
//     display: inline-block;
//     margin: 5px;
//     // background-image: url("../img/content/projects/example.jpg");
//     overflow: hidden;
//
//     .projectText {
//         &::before {
//             content: '';
//             display: inline-block;
//             height: 20%;
//             vertical-align: middle;
//         }
//         font-family: 'Exo 2', sans-serif;
//         color: @color__three;
//         width: @circleSize;
//         height: @circleSize;
//         border-radius: @circleBorderRadius;
//         background-color: lighten(fade(@color__two, 70%), 20%);
//         margin: 0;
//         text-align: center;
//         transform: scale(0);
//         position: absolute;
//         opacity: 0;
//         // line-height: 1em;
//         p {
//             position: absolute;
//             top: 38%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             font-size: 24px;
//             // line-height: 25px;
//         }
//     }
//
//     span {
//         position: absolute;
//         width: @circleSize - 30;
//         height: @circleSize - 30;
//         border-radius: @circleBorderRadius;
//         border: 15px solid fade(@color__two, 30%);
//         opacity: 1;
//         overflow: hidden;
//
//         > img {
//             display: none;
//         }
//     }
//
//     &:hover {
//         .projectText {
//             transform: scale(1);
//             opacity: 1;
//             // line-height: 20px;
//         }
//
//         span {
//             width: @circleSize - 6;
//             height: @circleSize - 6;
//             border: 3px solid fade(@color__two, 30%);
//             opacity: 1;
//         }
//     }
// }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoWrapper embed,
.videoWrapper iframe,
.videoWrapper object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ---- grid ---- */
.projects__grid {
    // background: #DDD;
    list-style: none;
}
/* clear fix */
.projects__grid:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .grid-item ---- */
.projects__grid-item,
.projects__grid-sizer {
    width: 33.3333%;
    font-size: 1vw;
}

.projects__grid-item--width2 {
    width: 66.6666%;
    font-size: 1.6vw;
}

.projects__grid-item {
    float: left;
    padding: 10px;
    // p {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     font-size: 2vw;
    //     text-align: center;
    //     padding: 0;
    //     margin: 0;
    // }
}

.project__wrapper {
    position: relative;
    overflow: hidden;
    // background-color: rgb(0, 0, 0);
    font-size: inherit;
    transition: 0.4s;

    &:hover {
        cursor: pointer;

        .project__desc {
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.project__background {
    display: block;
    width: 100%;
    height: 100%;
    // z-index: 20;
}
.main-carousel{
    height: (100vw - 2*@article__vertical-line)*0.8;
    *{
        transition: 0s;
    }
}
.carousel-cell {
  width: 100%; /* full width */
  // height: 160px; /* height of carousel */
  margin-right: 10px;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.project__desc {
    position: absolute;
    top: 0;
    left: -60%;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 2em;
    padding: 10px;
    display: block;
    margin: auto;
}


.slider{
    height: 20vw;
}
/////////КОНТАКТЫ/////////
.contact {
    padding: 100px 5%;
    position: relative;
    display: inline-block;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/content/contact/chat.png");
    background-size: 18%;
    background-color: @color__one;
}

.contact__title {
    float: right;
    width: 6ch;
    font-size: 48px;
    font-weight: 100;
    color: @color__two;
}

.contact__address {
    width: 100%;
    float: right;
    font-size: 16px;
    text-align: right;
    font-weight: 100;
    margin-top: 100px;
    color: @color__two;
}

.address__link {
    display: inline-block;
    color: @color__two;
    text-decoration: none;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 0 0 1px 0;
    border-color: lighten(@color__three, 20%);

    &:hover {
        color: darken(@color__two, 25%);
        border-color: lighten(@color__three, 20%);
    }
}

.address__icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.contact__text {
    width: 90%;
}

.contact__text-idea {
    font-size: 18px;
    display: block;
    margin: 10px 20% 10px 0;
    text-align: right;
}

.contact__text-need {
    font-size: 22px;
    display: block;
    margin-left: 10px;
    text-align: center;
}

.contact__text-telegram {
    margin-top: 30px;
    font-size: 18px;
    display: block;
<<<<<<< HEAD
}

.telegram__paragraph-text {
=======
    width: 82%;
>>>>>>> parent of efa24d4... adding content to accordeon
    display: inline-block;
    vertical-align: middle;
}

<<<<<<< HEAD
.telegram__bot-text {
=======
.text-telegram__bot {
>>>>>>> parent of efa24d4... adding content to accordeon
    // text-decoration: underline;
    background-color: fade(@color__two,90%);
    color: @color__one;
    font-weight: 400;
    padding: 3px;
    line-height: 25px;
}

.contact__telegram-icon {
    font-size: 50px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darken(@color__two, 20%);
    color: @color__one;
    display: inline-block;
    vertical-align: middle;
    position: relative;
<<<<<<< HEAD
    margin-left: 5%;
    // float: right;
=======

>>>>>>> parent of efa24d4... adding content to accordeon
    i {
        position: absolute;
        top: -5px;
        left: -5px;
    }
}

<<<<<<< HEAD
.form__wrapper {
    margin-top: 30px;
}

=======
>>>>>>> parent of efa24d4... adding content to accordeon
.contactForm {
    float: left;
    width: 45%;
    border-left: 4px solid @color__two;
    padding-left: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: black;
}

.form-submit {
    display: inline-block;
    position: relative;
    width: 100%;

    input {
        float: left;
        // width: 49.5%;
        width: 100%;
        display: block;
        margin: 0;
        border: none;
        padding: 10px;
        font-size: 20px;
        background: @color__two;
        // color: #fff;
        font-weight: 700;
        cursor: pointer;
        font-family: ExoTwo,sans-serif;
        font-weight: 100;
    }

    img {
        width: 49.5%;
        height: 100%;
        float: right;
    }
}

.form-element {
    width: 90%;
    box-sizing: border-box;
    font-weight: 100;
}

.form-input__email,
.form-input__message,
.form-input__name {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    // font-size: 1em;
    padding: 15px;
    border: none;
    // border-bottom: 4px solid @color__two;
    outline: none;
    color: @color__two;
    background-color: fade(@color__two, 5%);
    font-family: ExoTwo,sans-serif;

    &::placeholder {
        color: fade(@color__three, 60%);
    }
}

.form-input__email,
.form-input__name {
    width: 49.5%;
    border-top: 1px solid fade(@color__two, 60%);
    border-bottom: 1px solid fade(@color__two, 60%);
}

.form-input__email {
    float: right;
}

.form-input__message {
    height: 20vh;
    border-top: 1px solid fade(@color__two, 60%);
    border-bottom: 1px solid fade(@color__two, 60%);
}

.form-input__email:focus,
.form-input__message:focus,
.form-input__name:focus {
    border-top: 1px solid @color__two;
    border-bottom: 1px solid @color__two;
}
//
// .psdResume {
//     width: 100vw;
//     height: 50vh;
// }
//
// .map {
//     width: 100vw;
//     height: 40vh;
//     display: none;
// }

.g-recaptcha {
    // width: 50px;
    float: right;
}

.footer {
    // &::before {
    //     content: '';
    //     display: inline-block;
    //     height: 100%;
    //     vertical-align: middle;
    // }
    width: 100vw;
    font-size: 18px;
    line-height: 44px;
    width: 100%;
    background-color: rgb(60, 38, 75);
    text-align: center;
    color: white;
    // margin-bottom: 15%;
    // width: 20%;
}
/////////////////////////
/////////////////////////
/////////////////////////
///////////////TABLET MODE////////////
// @media @tablet {
//     .aboutMeTitle,
//     .contactTitle,
//     .projectsTitle,
//     .resumeTitle {
//         font-size: 36px;
//         width: @article__vertical-line--tablet;
//
//         span:first-of-type {
//             display: none;
//         }
//
//         span:last-of-type {
//             display: block;
//         }
//     }
//
//     .aboutMe,
//     .contact,
//     .projects,
//     .resume {
//         padding: 75px 5%;
//     }
//
//     .aboutMeTitle {
//         img {
//             width: 150px;
//             margin-top: 20px;
//         }
//
//         p {
//             width: 100%;
//             font-size: 12px;
//         }
//     }
//
//     .aboutMeText {
//         width: 60%;
//
//         p {
//             font-size: 16px;
//         }
//     }
//
//     .resumeText {
//         width: 60%;
//     }
//
//     .work {
//         p {
//             margin: 8px 0;
//         }
//     }
//
//     .projectsTitle {
//         padding-right: 25px;
//         font-size: 42px;
//     }
//     @circleSize: 200px;
//     @circleBorderRadius: @circleSize;
//
//     .projectsContent {
//         width: 60%;
//     }
//
//     .grid-item,
//     .grid-sizer {
//         width: 50%;
//     }
//
//     .grid-item {
//         p {
//             font-size: 3vw;
//         }
//     }
//
//     .grid-item-width2 {
//         width: 100%;
//     }
//     //
//     // .project {
//     //     width: 100%;
//     //     height: @circleSize;
//     //     border-radius: @circleBorderRadius;
//     //     background-color: fade(@color__two, 20%);
//     //     border: 3px solid fade(@color__two, 40%);
//     //
//     //     div {
//     //         // &::before {
//     //         //     content: '';
//     //         //     display: inline-block;
//     //         //     height: 20%;
//     //         //     vertical-align: middle;
//     //         // }
//     //         float: right;
//     //         transform: scale(1);
//     //         position: relative;
//     //         width: @circleSize - 4;
//     //         height: @circleSize - 4;
//     //         opacity: 1;
//     //         background-color: fade(@color__two, 0%);
//     //         border: 2px solid fade(@color__two, 100%);
//     //         border: none;
//     //         width: @circleSize;
//     //         height: @circleSize;
//     //         font-size: 24px;
//     //     }
//     //
//     //     span {
//     //         width: @circleSize - 4;
//     //         height: @circleSize - 4;
//     //         border-radius: @circleBorderRadius;
//     //         border: 2px solid fade(@color__two, 100%);
//     //
//     //         > img {
//     //             display: block;
//     //         }
//     //     }
//     //
//     //     &:hover {
//     //         span {
//     //             width: @circleSize - 4;
//     //             height: @circleSize - 4;
//     //             border: 2px solid fade(@color__two, 100%);
//     //         }
//     //     }
//     // }
//     .contactForm {
//         width: 60%;
//
//         p {
//             width: 100%;
//         }
//     }
//
//     .form-submit {
//         width: 100%;
//
//         input {
//             font-size: 14px;
//         }
//     }
//
//     .form-element {
//         width: 100%;
//     }
//
//     .form-input__message {
//         width: 100%;
//         font-size: 14px;
//     }
//
//     .form-input__email,
//     .form-input__name {
//         width: 49%;
//         font-size: 14px;
//     }
//
//     .form-input__email {
//         float: right;
//     }
// }
// /////////////////////////
// /////////////////////////
// /////////////////////////
// ///////////////PHONE MODE////////////
// @media @phone {
//     .aboutMeTitle,
//     .contactTitle,
//     .projectsTitle,
//     .resumeTitle {
//         font-size: 36px;
//         width: @article__vertical-line--phone;
//         float: none;
//         margin-top: 4vw;
//
//         span:first-of-type {
//             display: none;
//         }
//
//         span:last-of-type {
//             position: absolute;
//             top: 7vw;
//             left: 0;
//             width: 100vw;
//             display: block;
//             font-size: 10vw;
//             float: none;
//             text-align: center;
//             padding: 0;
//             margin: 0;
//         }
//
//         img {
//             max-width: 50vw;
//         }
//     }
//
//     .aboutMe,
//     .contact,
//     .projects,
//     .resume {
//         width: 80%;
//         padding: 50px 10%;
//     }
//
//     .aboutMeText,
//     .contactForm,
//     .projectsText,
//     .resumeText {
//         width: 100%;
//         margin-top: 30px;
//     }
//
//     .headBg {
//         .headText {
//             margin-top: -20%;
//         }
//
//         ul {
//             line-height: 2vh;
//             margin-top: 80px;
//
//             li {
//                 width: 75px;
//                 height: 75px;
//                 margin: 5px;
//
//                 a {
//                     width: 75px;
//                     height: 75px;
//                     margin-left: -37px;
//
//                     i {
//                         font-size: 40px;
//                     }
//                 }
//
//                 &:nth-child(1) {
//                     i {
//                         margin-left: -22px;
//                         margin-top: 18px;
//                     }
//                 }
//
//                 &:nth-child(2) {
//                     i {
//                         margin-left: -18px;
//                         margin-top: 18px;
//                     }
//                 }
//
//                 &:nth-child(3) {
//                     i {
//                         margin-left: -17px;
//                         margin-top: 17px;
//                     }
//                 }
//             }
//         }
//     }
//
//     .aboutMe {
//         // padding: 50px 5%;
//     }
//
//     .aboutMeTitle {
//         text-align: center;
//         // span:first-of-type {
//         //     display: none;
//         // }
//         //
//         // span:last-of-type {
//         //     display: block;
//         //     font-size: 5vh;
//         // }
//         img {
//             float: none;
//             margin: 30px auto 0;
//             width: 90%;
//             border-radius: 90%;
//         }
//
//         p {
//             display: none;
//         }
//     }
//
//     .aboutMeText {
//         p {
//             font-size: 2.6vh;
//         }
//
//         p:last-of-type {
//             width: 60%;
//             height: 200px;
//         }
//     }
//
//     .resumeTitle {
//         width: 100%;
//
//         span:last-of-type {
//             font-size: 8vw;
//         }
//     }
//
//     .resumeText {
//         width: 85%;
//     }
//
//     .workTitle {
//         color: @color__two;
//         font-size: 4vh;
//
//         p {
//             font-size: 16px;
//         }
//
//         div {
//             p {
//                 display: none;
//             }
//
//             i {
//                 margin-top: 8px;
//             }
//         }
//     }
//
//     .work {
//         p {
//             font-size: 2.9vh;
//         }
//     }
//
//     .workText {
//         font-size: 2.5vh;
//     }
//
//     .projectsContent {
//         border: none;
//         float: none;
//         padding: 0;
//         width: 100%;
//         padding-top: 30px;
//         margin: 0;
//     }
//
//     .projects {
//         width: 100%;
//         padding: 50px 0 0;
//     }
//     //
//     // .project {
//     //     width: 100%;
//     //     height: 100%;
//     //     border: none;
//     //     border-radius: 0;
//     //     margin: 0;
//     //     padding: 0;
//     //
//     //     span {
//     //         display: none;
//     //     }
//     // }
//     //
//     // .projectText {
//     //     display: none;
//     // }
//     .grid-item,
//     .grid-item-width2,
//     .grid-sizer {
//         width: 100%;
//         padding: 0;
//     }
//
//     .grid-item {
//         p {
//             font-size: 10vw;
//         }
//     }
//
//     .project__overlay {
//         width: 100%;
//         height: 100%;
//     }
//
//     .contactTitle {
//         p {
//             font-size: 3vh;
//             line-height: 7.5vh;
//             margin: -20px 0 20px;
//         }
//     }
//
//     .contactForm {
//         font-size: 3vh;
//         border: none;
//         padding: 0;
//         margin: 0;
//
//         p {
//             width: 100%;
//         }
//     }
//
//     .form-element {
//         width: 100%;
//     }
//
//     .form-input__email,
//     .form-input__message,
//     .form-input__name {
//         font-size: 3vh;
//         border-bottom: 4px solid @color__two;
//         width: 100%;
//     }
//
//     .form-input__message {
//         height: 20vh;
//     }
//
//     .form-submit {
//         width: 100%;
//
//         input {
//             float: right;
//             width: 100%;
//         }
//
//         img {
//             width: 100%;
//             height: inherit;
//             float: left;
//             margin-bottom: 20px;
//         }
//     }
// }

.clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
    }
}
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
