.column.column__left
    h2.section__title Будем Знакомы
    img(class='about__avatar' src='img/about/me.jpg')
    ul.character__list
        +characterItem('Возраст: ')
        +characterItem('Оптимист ', 'smile')
        +characterItem('Желаю обучаться ', 'book')
        +characterItem('Люблю вкусное кофе ', 'coffee')
        +characterItem('Увлекаюсь фотографией ', 'photo')
        +characterItem('Умею работать в дедлайне ', 'time')
        +characterItem('Настроен на результат ', 'cup')
        +characterItem('Больше практики ', 'code')
        
