block variables

doctype html
html(lang='ru-RU')
    head
        block meta
        block favicon
        title #{title}
        link(rel="stylesheet" href="css/main.css")
        script(src='js/headScripts.js')
        include config/mixins
    body
        .wrapper
            include sections/welcome
            include sections/about
            include sections/projects



    script(src='js/footerScripts.js')
