.editorCode{

    min-height: 10%;
    height: 30vw;
    width: 20vw;
    margin: 0;
    padding: 0;
    display: flex;
    /*background: black;*/
    overflow: hidden;
    /*transform: scaleY(0.5);*/
    position: absolute;
    z-index: 2000;
    margin-top: 3%;
    left: 0;
}
.cursor {
    display: inline-block;
    height: 10px;
    width: 1px;
    background: rgba(255,255,255,.5);
    animation: blink steps(1) 1100ms infinite;
    margin-left: 2px;
}
.cursor.moving {
    animation: none;
}
@keyframes blink {
    0 {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.lines {
    box-sizing: border-box;
    padding-top: 17px;
    display: inline-block;
    min-height: 50%;
    width: 7%;
    min-width: 6%;
    flex: none;
    color: rgba(255,255,255,.45);
    /*border-right: 1px solid #11181a;*/
}
.vline {
    position: fixed;
    height: 10%;
    width: 1px;
    background: #11181a;
    /*left: 49px;*/
    opacity: 0;
}
.textarea {
    box-sizing: border-box;
    padding: 10px 0 0 0;
    display: inline-block;
    flex: auto;
}
.linenum {
    display: block;
    width: 100%;
    height: 10px;
    line-height: 10px;
    text-align: right;
    font-size: 5px;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
}
.line {
    display: block;
    width: calc(100% - 6px);
    padding: 1px 0 1px 6px;
    height: 8px;
}
.line.editing {
    background: rgba(255, 255, 255, 0);
    /*margin-top: 10px;*/
}
.linenum.editing {
    background: rgba(255,255,255,.06);
    color: rgba(255,255,255,.9);
}
.code {
    width: 1px;
    display: inline-block;
    height: 7px;
    border-radius: 3px;
    transition: border-radius 0.5s ease-in-out;
}
.code:not(.tab):not(.space) {
/*    box-shadow: inset 4px 4px 10px rgba(0,0,0,.4);*/
}
.code:not(.tab):not(.space) + .code {
    margin-left: 1px;
}
.comment {
    background: #4f4f4f;
}
.string {
    background: #5e8051;
}
.static-variable {
    background: #665aa7;
}
.variable,
.user-variable {
    background: #364283;
}
.operator {
    background: #d4a142;
}
.number {
    background: #a34f4f;
}
.function {
    background: #65452d;
}
.type {
    background: #e0e055;
}
.dot,
.sub-variable{
    background: white;
}
.dot {
    width: 10px;
}
.tab {
    width: 40px;
}
.space {
    width: 3px;
}
